table,
td,
th {
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-style: solid;
}

tr:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

table tr:nth-child(odd) td {
    background-color: rgb(241, 241, 241);
}

th {
    background-color: rgb(192, 189, 189);
}