html {
    box-sizing: border-box;
}

.container {
    max-width: 65vw;
    margin: 0 auto;
}

div,
section {
    display: flex;
}

span {
    border: 1px solid black;
    padding-top: 20px;
}

.week {
    flex-flow: row wrap;
    min-height: 500px;
}

.weekend,
.workweek{
    width: 100%;
    display: flex;
    justify-content: center;
}

.weekend-day,
.workday {
    flex: 1;
    display: flex;
    justify-content: center;
}

.notes {
    flex-direction: column;
    flex: 0 1 200px;
}

.reminders,
.special-dates {
    flex: 1;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}