body {
    background-color: rgba(159, 249, 255, 0.836);
}

span,
legend,
label {
    color: black;
    font-weight: bold;
}

input:focus,
textarea:focus,
select:focus {
    background-color: greenyellow;
}

input {
    border-style: solid;
    border-width: 2px;
}

#submit:hover {
    background-color: yellow;
    font-weight: bold;
}